[DEFAULT]

[auv]
distance_tolerance = 1.0
max_prop_speed = 10.0
max_elevator = 5.0
max_rudder = 5.0

[search]
max_depth_meters = 180.0
min_depth_meters = 0.5
position_resolution = 3.0
min_distance_from_boundary_meters = 5.0
track_separation_meters = 4.5
max_time_without_gps_fix_minutes = 10
max_speed_m_per_s = 0.5
max_turn_angle_radians = 0.785
sea_current_set_true_deg = 90
sea_current_drift_knots = 0.0
