[DEFAULT]
logfile = /tmp/auv_bonus_xprize.log
version = 4
main_loop_hz = 1

[starting]
; UTM positions as (Easting,Northing),
auv_position_utm = 557181.19,4196348.52

; contest boundaries
northwest_utm = 557178.94,4196348.52
northeast_utm = 557183.44,4196348.52
southeast_utm = 557183.44,4196335.21
southwest_utm = 557178.94,4196335.21

; set in integer true compass degrees, drift in float knots
set = 90
drift = 0.0

[variables]
easting_x = NAV_X
northing_y = NAV_Y

; where to read the current depth, heading, altitude, and speed
depth = NAV_DEPTH
heading = NAV_HEADING
speed = NAV_SPEED
altitude = NAV_ALTITUDE

; how to request a heading, depth, and speed
set_heading = DESIRED_HEADING
set_depth = DESIRED_DEPTH
set_speed = DESIRED_SPEED

[auv]
host = 192.168.0.210
port = 9000
client_name = xprize

; meters
distance_tolerance = 1.0
depth_tolerance = 0.5
min_altitude_meters = 0.5

; min_speed is the minimum meters per second at
; which the AUV can maintain depth
min_speed = 0.1
max_speed = 0.3
depth_speed = 0.1

watchdog_timer = 28.0

[search]
max_depth_meters = 2.0
min_depth_meters = 0.5
boundary_buffer_meters = 0.5
track_separation_meters = 1.5
