[DEFAULT]
logfile = /home/quest/auv_bonus_xprize.log
version = Competition8
main_loop_hz = 1.0

[starting]
; UTM positions as (Easting,Northing),
; northwest of Cardona Island Light
auv_position_utm = 757752.0,1979322.0

;
; If start_delay_secs is defined, then the AUV will
; wait that quantity of seconds before starting
; the search pattern. If it's not defined, the AUV
; will wait to reach auv_position_utm before
; starting.
start_delay_secs = 120

; contest boundaries
; Competition Area 1
northwest_utm = 757001.19,1979352.50
northeast_utm = 758002.65,1979365.56
southeast_utm = 758015.66,1978369.11
southwest_utm = 757014.15,1978356.06

; set in integer true compass degrees, drift in float knots
set = 270
drift = 0.0

[variables]
easting_x = NAV_X
northing_y = NAV_Y

; where to read the current depth, heading, speed, and
; altitude
depth = NAV_DEPTH
heading = NAV_HEADING
speed = NAV_SPEED
altitude = NAV_ALTITUDE

; how to request a heading, depth, and speed
set_heading = DESIRED_HEADING
set_depth = DESIRED_DEPTH
set_speed = DESIRED_SPEED

[auv]
host = 10.0.1.210
port = 9000
client_name = xprize

; meters
distance_tolerance = 3.0
depth_tolerance = 1.5
min_altitude_meters = 3.0

; min_speed is the minimum meters per second at
; which the AUV can maintain depth
min_speed = 0.4
max_speed = 3.0
steering_dive_speed = 4.0
; depth_speed is used when adjusting only the depth
depth_speed = 1.0
; max_data_delay_secs defines for how long the AUV will
; tolerate a lack of data from the MOOS system.
max_data_delay_secs = 1.0

; the AUV can't steer well above this depth
min_steerage_depth_meters = 2.0

; above this depth, the AUV considers itself on the
; surface
surface_depth = 1.0
surface_speed = 0.5
spiral_amount = 20


[search]
time_limit_secs = 14400
max_depth_meters = 38.0
min_depth_meters = 30.0
boundary_buffer_meters = 5.0
track_separation_meters = 2.0
up_current_offset = 4.0
vertex_offset = 10.0
min_depth_offset = 4.0

[watchdog]
watchdog_timer = 28.0
port = /dev/serial0
data_rate = 9600

[dye_sensor]
min_sensor_depth = 2.0
min_sensor_value = 50
plume_detected_value = 1000
